*.scssc
*.css
*.rb
fonts/fontawesome-webfont.eot
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.woff
fonts/fontawesome-webfont.woff2
fonts/FontAwesome.otf
*.db
images/EPICS.png
images/Purdue.png
images/splash.jpg
js/jquery-2.1.0.min.js
js/jquery.mixitup.js